[submodule "scripts/NGTS_workpackage"]
	path = scripts/NGTS_workpackage
	url = git@github.com:tomlouden/NGTS_ZLP.git
[submodule "scripts/zlp-input-catalogue"]
	path = scripts/zlp-input-catalogue
	url = git@github.com:NGTS/zlp-input-catalogue.git
