[submodule "scripts/zlp-input-catalogue"]
	path = scripts/zlp-input-catalogue
	url = git@github.com:NGTS/zlp-input-catalogue.git
[submodule "scripts/zlp-photometry"]
	path = scripts/zlp-photometry
	url = git@github.com:NGTS/NGTS_ZLP
[submodule "scripts/zlp-qa"]
	path = scripts/zlp-qa
	url = chain.astro:gitprojects/zlp-quality-assessment
