# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
astropy=1.0.3=np19py27_0
emcee=2.1.0=np19py27_0
freetype=2.5.2=2
ipython=3.2.0=py27_0
jinja2=2.7.3=py27_1
libpng=1.6.17=0
markupsafe=0.23=py27_0
matplotlib=1.4.3=np19py27_2
numpy=1.9.2=py27_0
openssl=1.0.1k=1
pip=7.0.3=py27_0
py=1.4.27=py27_0
pyparsing=2.0.3=py27_0
pytest=2.7.1=py27_0
python=2.7.10=0
python-dateutil=2.4.2=py27_0
python.app=1.2=py27_4
pytz=2015.4=py27_0
readline=6.2=2
scipy=0.15.1=np19py27_0
setuptools=17.1.1=py27_0
six=1.9.0=py27_0
sqlite=3.8.4.1=1
tk=8.5.18=0
yapf=0.1.9=py27_0
zlib=1.2.8=0
